body{
    background-color: #f5f5f5;
    padding-left:100px;
    padding-right:100px;
    margin-left:100px;
    margin-right:50px;
}
 
h1 {
    margin: 40px;
    margin-left: 10px;
    font-size: 40px;
}
.Encodebutton{
    display: inline-block;
    padding: 7px 14px;
    background-color: black;
    color: white;
    text-decoration: none;
    border-radius: 3px;
    font-weight: bold;
    cursor: pointer;
}

.Decodebutton{
    display: inline-block;
    padding: 7px 14px;
    background-color: black;
    color: white;
    text-decoration: none;
    border-radius: 3px;
    font-weight: bold;
    cursor: pointer;
}

.inputBox {
    margin-top:10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#userInput {
    padding-top:8px;
    padding-left:6px;
    width: 800px;
    height: 300px;
    border: 1px solid;
    margin-bottom:2px;
    
}

#result {
    padding-top:8px;
    padding-left:6px;
    width: 800px;
    height: 300px;
    border: 1px solid;
    margin-top:10px;
}

button {
    padding: 6px 14px;
    border: none;
    border-radius: 3px;
    background: #111827;
    color: white;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    margin-bottom: 20px;
    transition: all 0.3s ease;
    position: relative;
    left: 723px;
}


button:hover {
    background: #2dc082;
    transform: translateY(-2px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

button:active {
    transform: translateY(0);
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);