.mainBody{
    padding-top: 80px;
    background-color: #f2f3f4;
    padding-left:260px;
    padding-right:150px;

}
 
.header {
    padding:5px 4px;
    padding-top: 0px;
    margin-left: 10px;
}

.logo {
    display: block;
    width: 260px;
    max-width: 100%;
    height: auto;
}

h1 {
    margin: 0px;
    padding: 0px;
    font-size: 45px;
}
.Encodebutton{
    display: inline-block;
    padding: 7px 14px;
    background-color: black;
    color: white;
    text-decoration: none;
    border-radius: 3px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    left: 590px;
}

.Decodebutton{
    display: inline-block;
    padding: 7px 14px;
    background-color: black;
    color: white;
    text-decoration: none;
    border-radius: 3px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    left: 593px;
}

.inputBox {
    margin-top:10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#userInput {
    padding-top:8px;
    padding-left:6px;
    width: 800px;
    height: 300px;
    border: 1px solid;
    margin-bottom:2px;
    
}

#result {
    padding-top:8px;
    padding-left:6px;
    width: 800px;
    height: 300px;
    border: 1px solid;
    margin-top:10px;
}

button {
    padding: 6px 14px;
    border: none;
    border-radius: 3px;
    background: #111827;
    color: white;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    margin-bottom: 5px;
    transition: all 0.3s ease;
    position: relative;
    left: 723px;
}


button:hover {
    background: #2dc082;
    transform: translateY(-2px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

button:active {
    transform: translateY(0);
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);